<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd
	">
<!--	duboo名字，和项目名字一样就可以，需要唯一-->
	<dubbo:application name="dubbo_service_provider"/>
<!--	dubbo注册中心（zookeeper）-->
	<dubbo:registry address="zookeeper://127.0.0.1:2181"/>
<!--	dubbo扫秒服务-->
	<dubbo:annotation package="com.lqs.service.impl"/>

</beans>