<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc  http://www.springframework.org/schema/mvc/spring-mvc.xsd
">
    <bean class="com.lqs.controller.InterceptorController"/>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <mvc:annotation-driven/>


<!--    配置拦截器, 配置多个，在执行方法之前先写的先执行（preHandel），执行了方法之后，后写的先执行（postHandel, afterCompletion）-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/interceptor/**"/>
            <bean class="com.lqs.interceptor.MyInterceptor"/>
        </mvc:interceptor>

        <mvc:interceptor>
            <mvc:mapping path="/interceptor/**"/>
            <bean class="com.lqs.interceptor.MyInterceptor2"/>
        </mvc:interceptor>
    </mvc:interceptors>
    <mvc:default-servlet-handler/>
</beans>